// imports
@use "../abstracts/abstracts" as *;

// ===== buttons =====

.btn {
  @include headingStyles;
  outline: 0;
  border: 0;
  font-size: 1.6rem;
  padding: 2rem 2.5rem;
  display: inline-block;
  transition: $mainTransition;

  &--primary {
    background-color: color(bgBlack);
    color: color(white);

    &:hover,
    &:focus {
      background-color: lighten(color(bgBlack), 10%);
    }
  }

  &--secondary {
    background-color: color(red);
    color: color(white);

    &:hover,
    &:focus {
      background-color: lighten(color(red), 10%);
    }
  }
}

// ===== wave pattern =====

.wave-pattern {
  position: absolute;
  width: 20%;
  z-index: 100;

  &--design {
    top: 20%;
    left: -10%;
  }

  &--glide {
    top: -10%;
    left: 27%;
    transform: rotate(-45deg);
  }
}

// ===== feature =====

.feature {
  width: 75%;
  position: relative;
  margin: 0 auto;

  &__number {
    @include headingStyles;
    position: absolute;
    top: -5rem;
    left: -7rem;
    font-size: 8rem;
    opacity: 0.2;
  }

  &__title {
    @include headingStyles;
    font-size: 2rem;
  }

  &__desc {
    @include textStyles;
    font-size: 1.8rem;
  }
}
