// imports
@use "../abstracts/abstracts" as *;

// ===== buttons =====

.btn {
  @include headingStyles;
  outline: 0;
  border: 0;
  font-size: 1.6rem;
  padding: 2rem 2.5rem;
  display: inline-block;
  transition: $mainTransition;

  &--primary {
    background-color: color(bgBlack);
    color: color(white);

    &:hover,
    &:focus {
      background-color: lighten(color(bgBlack), 10%);
    }
  }

  &--secondary {
    background-color: color(red);
    color: color(white);

    &:hover,
    &:focus {
      background-color: lighten(color(red), 10%);
    }
  }
}
