// imports
@use "./mixins" as *;
@use "./variables" as *;

// fonts
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;800&display=swap");

// globals
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Commissioner", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
}

// prefers reduced motion
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
