// section styles
@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin sectionSpacing() {
  padding: 5rem 2rem;
}

// typography styles
@mixin headingStyles() {
  font-weight: 800;
  letter-spacing: 0.1rem;
  line-height: 1.3;
}

@mixin textStyles() {
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.6;
}

// container styles
@mixin maxWidthLg() {
  max-width: 1400px;
  margin: 0 auto;
}

@mixin maxWidthMd() {
  max-width: 1200px;
  margin: 0 auto;
}

@mixin maxWidthSm() {
  max-width: 1000px;
  margin: 0 auto;
}

// media queries
@mixin responsive($breakpoint) {
  @if ($breakpoint == xl) {
    @media (max-width: 1220px) {
      @content;
    }
  }

  @if ($breakpoint == lg) {
    @media (max-width: 950px) {
      @content;
    }
  }

  @if ($breakpoint == md) {
    @media (max-width: 768px) {
      @content;
    }
  }

  @if ($breakpoint == sm) {
    @media (max-width: 500px) {
      @content;
    }
  }
}
