@use "../abstracts/abstracts" as *;

.about {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  align-items: center;

  @include responsive(lg) {
    grid-template-columns: repeat(2, 1fr);

    @include responsive(md) {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    background-color: color(red);
    color: color(white);
    transform: translateY(-10rem);

    @include responsive(lg) {
      transform: translateY(0);
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 10rem;
    padding: 10rem;

    @include responsive(sm) {
      padding: 5rem 2rem;
    }
  }

  &__heading {
    @include headingStyles;
    font-size: 5.6rem;
    position: relative;
    z-index: 5;
    transform: translateX(10rem);

    @include responsive(lg) {
      transform: translateX(0);
      padding: 5rem 2rem;
    }

    @include responsive(sm) {
      font-size: 3.2rem;
    }
  }
}
