@use "../abstracts/abstracts" as *;

.cta {
  position: relative;

  &__content {
    @include sectionSpacing;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5rem;
    text-align: center;
  }

  &__heading {
    @include headingStyles;
    font-size: 5.6rem;

    @include responsive(sm) {
      font-size: 3.2rem;
    }
  }
}
