@use "../abstracts/abstracts" as *;

.hero {
  &__content {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    align-items: center;
  }

  &__info {
    @include sectionSpacing;
    transform: translateX(20rem);
  }

  &__heading {
    @include headingStyles;
    font-size: 8rem;
  }

  &__lead {
    @include textStyles;
    font-size: 1.8rem;
    padding: 2rem 0;
  }
}
