// imports
@use "../abstracts/abstracts" as *;

// ===== nav =====

.nav {
  background: linear-gradient(to right, color(white) 50%, color(red) 50%);

  &__content {
    @include sectionSpacing;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__logo {
    width: 20rem;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__link {
    @include textStyles;
    color: color(white);
    font-size: 1.6rem;
    position: relative;

    &:before {
      content: "";
      height: 0.2rem;
      width: 100%;
      position: absolute;
      background-color: color(white);
      bottom: -0.5rem;
      transform: scale(0);
      transform-origin: center;
      transition: $mainTransition;
    }

    &:hover::before,
    &:focus::before {
      transform: scale(1);
    }
  }
}

// ===== hero =====

.hero {
  &__content {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    align-items: center;
  }

  &__info {
    @include sectionSpacing;
    transform: translateX(20rem);
  }

  &__heading {
    @include headingStyles;
    font-size: 8rem;
  }

  &__lead {
    @include textStyles;
    font-size: 1.8rem;
    padding: 2rem 0;
  }
}

// ===== design =====

.design {
  background-color: color(bgBlack);
  color: color(white);

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
  }

  &__img {
    height: 90vh;
  }

  &__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
    position: relative;
    height: 90vh;
  }

  &__heading {
    @include headingStyles;
    font-size: 5.6rem;
  }

  &__span {
    color: color(red);
  }

  &__desc {
    @include textStyles;
    font-size: 1.8rem;
    padding: 2rem 0;
  }

  &__link {
    @include headingStyles;
    color: color(red);
    font-size: 1.8rem;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid color(red);
    transition: $mainTransition;

    &:hover,
    &:focus {
      color: lighten(color(red), 10%);
      border-bottom: 0.2rem solid lighten(color(red), 10%);
    }
  }
}

.about {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  align-items: center;

  &__content {
    background-color: color(red);
    color: color(white);
    transform: translateY(-10rem);
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    gap: 10rem;
    padding: 10rem;
  }

  &__heading {
    @include headingStyles;
    font-size: 5.6rem;
    position: relative;
    z-index: 5;
    transform: translateX(10rem);
  }
}

// ===== carousel =====

.glide {
  position: relative;
  transform: translateY(-10rem);
  margin-top: -5px;

  &__slide {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    align-items: center;
    height: 100%;

    &:hover {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }
  }

  &__left {
    background-color: color(bgBlack);
    color: color(white);
    display: flex;
    align-items: center;
    padding: 5rem;
    height: 100%;
  }

  &__heading {
    @include headingStyles;
    font-size: 5.6rem;
  }

  &__right {
    position: relative;
    height: 100%;

    &-content {
      position: absolute;
      bottom: 5rem;
      right: 5rem;
      background-color: color(bgBlack);
      color: color(white);
      padding: 2rem;
    }
  }

  &__subheading {
    @include headingStyles;
    font-size: 2rem;
  }

  &__desc {
    @include textStyles;
    font-size: 1.8rem;
  }
}
