// imports
@use "../abstracts/abstracts" as *;

// ===== nav =====

.nav {
  position: fixed;
  width: 100%;
  z-index: 2000;
  background: linear-gradient(to right, color(white) 50%, color(red) 50%);

  &__content {
    @include sectionSpacing;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__logo {
    width: 20rem;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__link {
    @include textStyles;
    color: color(white);
    font-size: 1.6rem;
  }
}
