@use "../abstracts/abstracts" as *;

.nav {
  background: linear-gradient(to right, color(white) 50%, color(red) 50%);

  &__content {
    @include sectionSpacing;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include responsive(xl) {
      justify-content: space-between;
    }

    @include responsive(sm) {
      background-color: color(white);
    }
  }

  &__logo {
    width: 20rem;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 3rem;

    @include responsive(lg) {
      display: none;
    }
  }

  &__link {
    @include textStyles;
    color: color(white);
    font-size: 1.6rem;
    position: relative;

    &:before {
      content: "";
      height: 0.2rem;
      width: 100%;
      position: absolute;
      background-color: color(white);
      bottom: -0.5rem;
      transform: scale(0);
      transform-origin: center;
      transition: $mainTransition;
    }

    &:hover::before,
    &:focus::before {
      transform: scale(1);
    }
  }
}
